<mat-stepper linear #stepper>
  <mat-step>
    <mat-form-field>
      <mat-label>Macabo</mat-label>
      <input matInput #inputMacabo email />
    </mat-form-field>

    <mat-error *ngIf="1">Toto est laid </mat-error>

    <div class="stepper-buttons">
      <button mat-raised-button matStepperNext color="accent">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext color="accent">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <div class="stepper-buttons">
      <button mat-button matStepperPrevious>Back</button>

      <button mat-raised-button color="accent">Create</button>
    </div>
  </mat-step>
</mat-stepper>
